.slide{
    height: calc(100vh - 25rem);
}

.proyects{
    background-color: #252D31;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
}


@media (max-width: 1024px) {
    .proyects{
        background-color: #252D31;
        overflow-y: auto;
        width: 100vw;
        height: 100vh;
    }
}