.slide{
    height: calc(100vh - 25rem);
}

.proyects{
    background-color: #252D31;
    overflow-y: hidden;
}


@media (max-width: 1024px) {
    .proyects{
        background-color: #252D31;
        overflow-y: auto;
        width: 100vw;
    }
}