.contact{
    background-color: #252D31;
    width: 100%;
    height: 100vh;
}

.contact-title{
    font-size: 5rem;
    font-weight: 700;
    line-height: 5.5rem;
    color: rgb(245, 242, 237);
}

.contact-card{
    border: solid 1px #FCD34D;
    padding: 1rem 1.5rem;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.contact-card-title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 5.5rem;
    color: rgb(245, 242, 237);
}


.contact-card-hover{
    border: solid 1px #FCD34D;
    padding: 1rem 1.5rem;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.contact-card-hover:hover{
    filter: brightness(115%);
    background-color: #FCD34D;
    cursor: pointer;
    transition: all 400ms;
}


@media (max-width: 1150px) {
    .contact{
        background-color: #252D31;
        width: 100%;
        height: 100vh;
    }
    
    .contact-card-title{
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 1.2rem;
        color: rgb(245, 242, 237);
    }
    .contact-title{
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 5.5rem;
    }
    .contact-card-hover{
        border: solid 1px #FCD34D;
        padding: 1rem 1.5rem;
        width: 90%;
    }
    .contact-card{
        border: solid 1px #FCD34D;
        padding: 1rem 1.5rem;
        width: 90%;
    }
}


@media (max-width: 1020px) {

    .contact{
        background-color: #252D31;
        width: 100vw;
        height: 100vh;
    }
}